
<div class="container-fluid">
<div class="row d-flex">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <mat-horizontal-stepper [linear]="isLinear" #stepper class="w-100">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Covid first human cases on Countries</ng-template>
          <div class="bg-info">
          <mat-form-field
            class="align-items-center justify-content-center d-flex w-100"
          >
            <label
              class="text-light"
              style="width: 500px">Whats the gap (in days) between the first case on Russia and Brazil ?</label>
            <input
              style="width: 500px !important;"
              matInput formControlName="firstCtrl" required>
          </mat-form-field>
          <div class="align-items-center justify-content-center d-flex">
            <button mat-button matStepperNext class="btn btn-primary">Next</button>
          </div>
          </div>
          <div class="align-items-center justify-content-center d-flex">
            <app-geochart-day-covid-country
            style="width: 60% !important;"
            ></app-geochart-day-covid-country>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup"
                label="first case along Brazil states">
        <form [formGroup]="secondFormGroup">
          <div class="bg-info">
          <mat-form-field class="align-items-center justify-content-center d-flex">
            <label
              class="text-light"
              style="width: 500px"
            >Which Brazil state had the first covid case related ?</label>
            <input
              style="width: 500px !important;"
              matInput formControlName="secondCtrl" required>
          </mat-form-field>
          <div
            class="align-items-center justify-content-center d-flex">
            <button
              class="btn btn-light"
              mat-button matStepperPrevious>Back</button>
            <button
              class="btn btn-primary"
              mat-button matStepperNext>Next</button>
          </div>
          </div>
          <div class="align-items-center justify-content-center d-flex ">
            <app-geochart-covid-states-brazil
              style="width: 60% !important;"
            ></app-geochart-covid-states-brazil>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup"
                label="along continents">
        <form [formGroup]="thirdFormGroup">
          <div class="bg-info">
            <mat-form-field
              class="align-items-center justify-content-center d-flex w-100">
              <label
                class="text-light"
                style="width: 500px">According with this graph you think
                that countries with similar economics conditions
                show similar evolution pattern of COVID-19?</label>
              <input
                style="width: 500px !important;"
                matInput formControlName="thirdCtrl" required>
            </mat-form-field>
            <div
              class="align-items-center justify-content-center d-flex">
              <button
                class="btn btn-light"
                mat-button matStepperPrevious>Back</button>
              <button
                class="btn btn-primary"
                mat-button matStepperNext>Next</button>
            </div>
          </div>
          <div class="align-items-center justify-content-center d-flex ">
            <app-linechart-continents
              style="width: 60% !important;">
            </app-linechart-continents>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup"
                label="death rate">
        <form [formGroup]="fourthFormGroup">
          <div class="bg-info">
            <mat-form-field
              class="align-items-center justify-content-center d-flex w-100">
              <label
                class="text-light"
                style="width: 500px">Looking at this graph below, how you describe the death rate along the days ?
                did it increased ? You think it gonna increase ?</label>
              <input
                style="width: 500px !important;"
                matInput formControlName="fourthCtrl" required>
            </mat-form-field>
            <div
              class="align-items-center justify-content-center d-flex">
              <button
                class="btn btn-light"
                mat-button matStepperPrevious>Back</button>
              <button
                class="btn btn-primary"
                mat-button matStepperNext>Next</button>
            </div>
          </div>
          <div class="align-items-center justify-content-center d-flex ">
            <app-linechart-deaths
              style="width: 60% !important;">
            </app-linechart-deaths>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fifthFormGroup"
                label="Brazil state deaths">
        <form [formGroup]="fifthFormGroup">
          <div class="bg-info">
            <mat-form-field
              class="align-items-center justify-content-center d-flex w-100">
              <label
                class="text-light"
                style="width: 500px">Looking at this graph below, Did the death rate tends to be equal accordingly with the regions (Centerwest, Southeast, Northeast, North and South) ? </label>
              <input
                style="width: 500px !important;"
                matInput formControlName="fifthCtrl" required>
            </mat-form-field>
            <div
              class="align-items-center justify-content-center d-flex">
              <button
                class="btn btn-light"
                mat-button matStepperPrevious>Back</button>
              <button
                class="btn btn-primary"
                mat-button matStepperNext>Next</button>
            </div>
          </div>
          <div class="align-items-center justify-content-center d-flex ">
            <app-geochart-covid-deaths-state-brazil
              style="width: 60% !important;">
            </app-geochart-covid-deaths-state-brazil>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div class="align-items-center justify-content-center d-flex" *ngIf="!done">
          <button
            [disabled]="load"
            mat-button matStepperPrevious class="btn btn-danger">Back</button>
          <button
            [disabled]="load"
            mat-button
            class="btn btn-success"
            (click)="sendAnswers()"
          >Send answers</button>
        </div>
        <div class="align-items-center justify-content-center d-flex" *ngIf="load">
          <mat-spinner></mat-spinner>
        </div>
        <div class="align-items-center justify-content-center d-flex" *ngIf="done">
          Thanks for answering!
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
</div>
